.profile__edit {
  display: inline;
  margin-left: 18px;
  transition: opacity 0.3s linear;
}
.profile__edit:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .profile__edit {
    width: 18px;
    margin-left: 10px;
  }  
}