.add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  grid-area: add-button;
  transition: opacity 0.3s linear;
}
.add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media (max-width: 768px) {
  .add-button {
    width: 100%;
  }  
}