.form__save {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 48px;
  box-sizing: border-box;
  background: #000;
  border-radius: 2px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.3s linear;
}
.form__save:hover {
  cursor: pointer;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .form__save {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }  
}