.edit-form__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px
}
@media (max-width: 768px) {
  .edit-form__title {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 22px;
  }  
}