.header {
  width: 880px;
  margin: 45px auto 40px auto;
  border-bottom: 1px solid rgba(84,84,84, 0.7);
}
@media (max-width: 1024px) {
  .header {
    width: 70%;
  }  
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 42px;
    padding: 0 27px;
    box-sizing: border-box;
  }  
}